{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 

{% block content %} 
    <h1>Users and their vehicle report</h1>
    <ul>
        {% for result in results["report_data"] %} 
        <li>{{result}}</li>
        {% endfor %} 
    </ul>
{% endblock content %} 


<table class="table">
    <thead>
      <tr>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Color</th>
        <th scope="col">License Plate</th>
        <th scope="col">Owner last Name</th>
        <th scope="col">Owner first Name</th>
      </tr>
    </thead>
    <tbody>
        {% for result in results["report_data"] %}
      <tr>
        <th scope="row">{{ result["vehicle_type"] }}</th>
        <td>{{ result["vehicle_color"] }}</td>
        <td>{{ result["vehicle_license_plate"] }}</td>
        <td>{{ result["user_last_name"] }}</td>
        <td>{{ result["user_first_name"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock content %}